/*task6报纸排版*/
* {
	margin: 0;
	padding: 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: block;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.container {
	margin: 10px auto;
	padding: 0 44px;
	width: 892px;

	background-color: #eee;
}

header {
	overflow: hidden;

	border-bottom: 2px solid #938e8c;
	/*width: 892px;*/
	height: 59px;
}
header span:first-child {
	display: inline-block;

	padding-top: 37px;
	padding-left: 7px;
	width: 103px;

	font: normal 12px "SimHei";
	line-height: 24px;

	color: #ffffff;
	background-color: #d55d5c;
}
header span:last-child {
	float: right;

	margin-top: 37px;

	font: normal 12px "SimHei";
	line-height: 24px;
	color: #d45d5c;
}

main .article1 {
	height: 620px;
	/*background-color: pink*/
}
.img_font {
	margin-top: 35px;
	height: 301px;
	/*background-color: #dd6776;*/
}
.img {
	float: left;
	
	width: 641px;
	height: 301px;

	background: url("images/banner.jpg") no-repeat;
}
.img div:first-child {
	float: left;
	width: 191px;
	height: 301px;

	background-color: rgba(117,184,107,0.3);
}
.img div:last-child {
	float: right;

	width: 191px;
	height: 301px;

	background-color: rgba(213,93,92,0.4);
}
.font {
	float: right;

	border-top: 2px solid #cc8091;
	/*padding-left: 48px;*/
	width: 203px;
	height: 299px;

	/*background-color: #b0dda9;*/
}
.font p:first-child {
	font: small-caps 24px "Microsoft YaHei";
	text-decoration: underline;
	color: #000000;
}
.font p:nth-child(2) {
	font: normal 12px "KaiTi";
	color: #676767;
}
.font p:nth-child(3) {
	margin-left: -17px;
	font: oblique 116px "Microsoft YaHei";
	line-height: 146px;
	/*font-style: oblique;*/
	color: #75b86b;
}
.cssFont span:nth-child(1) {
	display: inline-block;

	font-family: "Microsoft YaHei";
	font-size: 55px;
	color: #cc8091;
}
.cssFont span:nth-child(2) {
	display: inline-block;

	padding-bottom: 12px;

	font-family: "Microsoft YaHei";
	font-size: 21px;
	color: #cc8091;
}
.cssFont span:nth-child(3) {
	display: inline-block;

	font-family: "Microsoft YaHei";
	font-size: 12px;
	color: #cc8091;
}

.artis {
	margin-top: 44px;
	margin-bottom: 74px;
	height: 170px;

	/*background-color: #ddd6a9;*/
}
.artis div {
	float: left;
	/*overflow: hidden;*/

	height: 170px;
}
.artis div:first-child {
	margin-right: 29px;
	width: 215px;

	/*background-color: #88ddd3;*/
}
.artis div:first-child p:first-child {
	margin-bottom: 12px;
	
	font-size: 16px;
	font-family: "Microsoft YaHei";
	text-decoration: underline;
	font-weight: 700;

	color: #418c59;
}
.artis div:first-child p:last-child {
	font-size: 12px;
	font-family: "SimSong";
	line-height: 16px;
	color: #767777;
}

.artis div:nth-child(2) {
	margin-right: 30px;
	width: 200px;

	/*background-color: #91dd88;*/
}
.artis div:nth-child(2) p:first-child {
	margin-bottom: 12px;

	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: 700;
	text-decoration: underline;

	color: #d2994f;
}
.artis div:nth-child(2) p:last-child {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	line-height: 16px;
	color: rgba(35,24,21,.7);
}

.artis div:nth-child(3) {
	width: 150px;
	/*background-color: #8891dd;*/
}
.artis div:nth-child(3) p:first-child {
	margin-bottom: 12px;
	
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: 700;
	text-decoration: underline;

	color: #cc7680;
}
.artis div:nth-child(3) p:not(:first-child) {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	line-height: 18px;

	color: rgba(35,24,21,.7);
}

#rate p:nth-child(2) {
	margin-bottom: 28px;
}
#rate span {
	color: rgba(205,74,72,.7);  /* #cd4a48*/
}

main .article2 {
	margin-bottom: 44px;
	height: 600px;
	/*background-color: hotpink;*/
}
.article2 > div {
	float: left;
	height: 600px;
}
.article2 .art2_l {
	margin-right: 18px;

	width: 415px;

	/*background-color: #c3fff8;*/
}
.art2_top {
	margin-bottom: 25px;
}
.art2_top h2 {
	font-size: 42px;
	font-family: "SimHei";
	font-weight: 700;
	line-height: 50px;

	color: #11456b;
}
.art2_top h2 span {
	font-size: 72px;
	font-style: italic;
	color: #f5e327;
}
.art2_top h3 {
	border-bottom: 2px solid #11456b;
	padding-bottom: 8px;

	font-size: 33px;
	font-family: "SimHei";
	font-weight: 700;

	color: #11456b;
}
.art2_content p {
	font: normal 12px "SimSong";
	line-height: 18px;

	color: #767777;
}
.art2_content p span {
	float: left;

	padding: 0 5px 5px 0;

	font: normal 70px "Microsoft YaHei";
	line-height: 1;

	color: #f5e327;
}
.indent {
	text-indent: 2em;
}
.art2_content img {
	float: right;

	padding: 15px 0 10px 15px;
	width: 160px;
	height: 280px;
}
.article2 .art2_r {
	width: 458px;

	/*background-color: #a9ddd7;*/
}
.art2_img {
	overflow: hidden;
	width: 458px;
	height: 257px;

	background: url("images/photo.jpg") no-repeat;
}
.art2_img div {
	margin-top: 196px;
	padding-top: 9px;
	width: 458px;
	height: 61px;

	background-color: rgba(98,100,112,.7);
}
.art2_img p {
	margin-left: 35px;
	border-left: 3px solid #72b16a;
	padding-left: 10px;

	font: normal 26px "Microsoft YaHei";
	line-height: 44px;

	color: #ffffff;
}
.art2_img span {
	padding-left: 1em;

	font: oblique 12px "Microsoft YaHei";

	color: #72b16a;
}
.content {
	margin-top: 25px;
	width: 459px;
	height: 318px;

	background-color: #eeeed6;
}
.content ul {
	list-style: none;
	padding-left: 30px;
	padding-top: 30px;
}
.content li {
	padding-left: 17px;

	font: normal 16px "SimSong";
	line-height: 36px;
	/*letter-spacing: .15em;*/

	color: #5a5b5b;
	background: url("images/mission6_d.png") no-repeat left center;
}
.content span {
	font: italic 12px "SimSong";

	color: #5a5b5b;
}

.content_bot {
	margin-top: 20px;
	width: 459px;
	height: 160px;
}
.bot_l {
	float: left;

	padding-top: 25px;
	padding-bottom: 25px;
	width: 260px;
	height: 110px;

	background-color: #d55d5c; 
}
.bot_0 {
	float: left;

	padding-left: 12px;
	width: 63px;
	font: normal 110px "Microsoft YaHei";
	line-height: 1;

	color: #ffffff;
}
.bot_one {
	float: right;

	margin-top: 12px;
	border-left: 2px solid #ffffff;
	padding-left: 10px;
	width: 170px;
	height: 86px;

}
.bot_one p:first-child {
	font: italic 21px "SimHei";
	text-transform: uppercase;

	color: #ffffff;
}
.bot_one p:last-child {
	font: normal 12px "SimHei";

	color: #ffffff;
}

.bot_r {
	float: right;

	width: 198px;
}
.bot_r p {
	padding: 15px;

	font: italic 14px "SimHei";
	line-height: 16px;

	color: #5a5b5b;
}
.bot_r p span:first-child {
	float: left;

	font: normal 72px "SimHei";
	line-height: 15px;

	color: #d45d5c;
}
.bot_r p span:last-child {
	float: right;
	font: normal 72px "SimHei";
	line-height: .8;

	color: #d45d5c;
}


footer {
	border-top: 1px solid #938e8c;
	height: 60px;

	/*background-color: pink;*/
}
footer span {
	float: right;

	font: normal 12px "SimHei";
	line-height: 24px;
	color: #d45d5c;
}