/* all */
/* 不支持html5的浏览器 */
section, article, aside, footer, header, nav, hgroup {
  display:block;
}

/*  */
*{
  margin:0; 
  padding: 0;
}
body {
  background-color: #dedede;
  font-family: Microsoft YaHei;
  padding-top: 80px; /* 给header的高度占位 */
}
/* header */

body>header {
  background-color: #333333;
  /* 以下3个属性固定浏览器窗口头部 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  
}
body>header h1 ,
body>header nav,
body>header nav ul,
body>header nav ul li,
body>header li a {
  display: inline-block;    
}

body>header nav nav,
body>header h1 {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body>header h1 {
  color: white;
  width: 67%;
  line-height: 80px;
  padding-left: 2%;    
}

body>header nav { 
  width: 32%;
}
body>header nav ul {
  width: 100%;
}
body>header nav ul li {
  margin-left: 5px;
  width: 22%; /* border-box盒模型下，有4个li元素，外加还有margin。近似(100%-margin)/4  */
  text-align: center;

}
body>header nav ul li a {
  width: 100%; /* 继承上面li的宽度 */
  line-height: 2; /* 不用padding实现上下填充 */
  border-radius: 3px;
  font-weight: 700;
}
/* 1、怎样实现点击相应导航链接后，颜色状态跟其他不一样？？？ */
/* 2、由于头部导航的固定，导致 导航的锚跳转相应位置时会被挡住？怎么弄？ */
body>header nav ul li a:link,body>header nav ul li a:visited {
  color: #f0f0f0;
  text-decoration: none;  
}
body>header nav ul li a:hover {
  color: #333333;
  background-color: #f0f0f0;
}
body>header nav ul li a:active {
  color: #333333;
  background-color: #f0f0f0;
  text-decoration: underline;
}

/* main */
main{ 
    /* padding-top: 80px; 由于被header层挡住，所以内容往下 */
}
main article header h3,main article header span {
  color: gray;
  font-size: 1em;
}
/* 在每个article的右 下 盒子阴影 */
main article {
  width: 96%;
  margin: 30px auto;
  background-color: #ffffff;
  padding: 40px 15px;
  box-shadow: 2px 2px grey;
}
main article p:nth-of-type(1) {
  text-indent: 2em;
}
main article  h2 {
  /* 以下2个互抵是为了给 锚链接定位用 */
  padding-top: 100px; /* 由于header的遮挡住部分main，点击锚链接会跳转到页面头，即被header挡住，故用padding-top延后内容 */
  margin-top: -100px;  /* 多了上面的padding-top，导致页面不美观，故用margin-top回拉 */
  margin-bottom: 0.83em;
}
main article  h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

main article p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}
main article ul {
  margin-top: 1em;
  margin-bottom: 0em;
  padding-left: 40px;
}
main article figure {
  margin-top: 1em;
  margin-left: 40px;
  margin-right: 40px;
  box-sizing: border-box;
  width: 166px;
  padding:7px;
  border: 1px solid gray;
}
main article figure img {
  width: 150px;
  height: 220px;
}
main article ol {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
}
main article ol li {
  padding-bottom: 0.6em;
}

main article table,
main article td,
main article th { 
  border: 1px solid gray; /* 不建议用HTML里table加border="1",推荐这样的css */
  }
  
main article table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid silver;
}
main table caption {
  font-family: 'Rock Salt', cursive;
  padding: 15px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
main thead th:nth-child(1) {
  width: 40%;
}
main thead th:nth-child(2) {
  width: 30%;
}
main thead th:nth-child(3) {
  width: 30%;
}
main thead {
  background-color: #333333;
}
main table th,main table td {
  padding-left: 15px;
}
main thead th {
  color: white;
  letter-spacing: 2px;
  text-align: left;
  text-shadow: 0.5px 0.6px 0.3px black;
}
main table td {
  letter-spacing: 1px;
}
main tfoot {
  background-color: #cccccc;
}

/* aside */
aside {
  width: 90%;
  margin: 30px auto;
  background-color: #ffffff;
  padding: 40px 15px;
}
aside h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  padding-left: 10px;
  border-left: 3px solid #cacaca;
  line-height: 1.5; 
}
aside h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
aside p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* 行内块元素，用width占比 实现定位，文本靠右，对齐 */
aside form .email label,
aside form .select p span {
  display: inline-block;
  width: 30%;
  text-align: right;
  padding-right:15px;
  font-size: 0.9em;
}
aside form .select p:last-child  span{
  vertical-align: top;
}
aside form .email p:nth-child(2),
aside form .email p:nth-child(5) {
  color: gray;
  margin-left: 30%;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 0.9em;
}
aside form button[type="submit"] {
  background-color: rgba(51,85,208,0.85);
  width:96%;
  line-height:3;
  border-radius: 10px; 
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
}

/* footer */
footer {
  background-color: #333333;
  width: 100%;
  height: 70px;
  color: white; 
  text-align: center;
}
footer p {
  line-height: 70px;
}