/* 三栏布局之绝对定位 */
html , body , .container {
    margin: 0;
    height: 100%;
}

.container {
    width: 100%;
    background-color: #cccccc;
    margin: 0 auto;
}

.right , .left {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
}

.left {
    left: 23px;
    background-color: #a0b3d6;
    border: 1px solid #999;
}

.right {
    right: 23px;
    background-color: #a0b3d6;
    border: 1px solid #999;
}

.center {
    margin: 0 250px;
    background-color: #ffe6b8;
    /*height: 100%;*/
}


